<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
      <add name="SQLConnectionString" connectionString="Data Source=tcp:DESKTOP-53AG0QU,49172;Initial Catalog=SCADADB;User ID=sa;Password=DatabaseLab;" providerName="System.Data.SqlClient" />
    <!-- <add name="SQLConnectionString" connectionString="Data source=DESKTOP-53AG0QU\\CITADEL;Initial Catalog=SCADADB;Trusted_Connection=True" providerName="System.Data.SqlClient" /> -->
	  <!-- <add name="SQLConnectionString" connectionString="Data source=LAPTOP-1F3855NM\SQLEXPRESS;Initial Catalog=SCADADB;Trusted_Connection=True" providerName="System.Data.SqlClient" /> -->
    </connectionStrings>
    <appSettings>
      <add key="opcUrl" value="opc.tcp://localhost:62640/" />
      <add key="tagRealProcessValue" value="ns=2;s=Tag1" />
      <add key="tagSimProcessValue" value="ns=2;s=Tag2" />
      <add key="tagSetpoint" value="ns=2;s=Tag3" />
      <add key="tagControlValue" value="ns=2;s=Tag4" />
      <add key="tagControlSystemOnlineVerification" value="ns=2;s=Tag5" />
      <add key="tagAutomatic" value="ns=2;s=Tag6" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
