@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Modal for creating new users-->
<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="addNewUser" aria-hidden="true">
    <div class ="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-nowrap" id="addNewUser">Add new user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="personForm" id="personForm" method="post">
                Name:
                <br />
                <input name="personName" type="text" class="form-control input-lg" autofocus required />
                <br />

                Title (Operator / Supervisor):
                <br />
                <input name="personTitle" type="text" class="form-control input-lg" required />
                <br />

                Username:
                <br />
                <input name="personUsername" type="text" class="form-control input-lg" required />
                <br />

                Password:
                <br />
                <input name="personPassword" type="password" class="form-control input-lg" required />
                <br />

                <input id="saveButton" type="submit" value="Save" class="btn btn-info" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div>
    @{
        var person = Model.person;
    }
    @if (person.Successful == 2)
    {
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> New user created!
    </div>
    person.Successful = 0;
    }
    else if (person.Successful == 1)
    {
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> Something went wrong!
    </div>
    person.Successful = 0;

    }
    <button type="button" class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#newUser">Add new user</button>
</div>

<br />

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 30%;
  border-radius: 40%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 20%;
  }

}
</style>
</head>
<body>

<h2>Welcome! Please log in</h2>
    <p class="text-right">Logged in as @Model.person.Name</p>


<form action="~/Alarms" method="OnPostLogin">
  <div class="imgcontainer">
    <img src="~/Avatar.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input name="personUsername" type="text" placeholder="Enter Username" required>

    <label for="password"><b>Password</b></label>
    <input name="personPassword" type="password" placeholder="Enter Password" required>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>

</form>

</body>
</html>


