@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<meta http-equiv="refresh" content="10" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Login page coming...</p>

</div>


